---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Federant&family=Lora&display=swap');

h1.title {
 font-family: 'Federant', cursive;
 font-weight: bold;
 font-style: unset;
 color: #D1D1D1;
}

body {
  font-family: 'Lora', serif;
  background-color: #7a0800;
  /* background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png"); */
  background-image: url("iron-grip.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.is-hidden { display: none; }

.card {
  padding-top: 1.00rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  line-height: 1.5;
}

.creds {
  color: #D1D1D1;
}
.creds small a, .creds small a:hover {
  color: #D1D1D1;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #04AA6D;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}