---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Federant&family=Lora&display=swap');

h1.title {
 font-family: 'Federant', cursive;
 font-weight: bold;
 font-style: unset;
 background: #D1D1D1;
}

body {
  font-family: 'Lora', serif;
  background-color: #7a0800;
  /* background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png"); */
  background-image: url("iron-grip.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.is-hidden { display: none; }

.card {
  padding-top: 1.00rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  line-height: 1.5;
}
